.largura {
    flex: 1;
}

.cor {
    color: #FBE5D6;
}

img .max-img {
    max-width: 50px; 
    height: auto;
}

.titulo {
     font-size: 1rem;
 }

 .pad {
    max-width: 80vw;
    padding: 0;
    margin: 0;
 } 

 .pad0 {
    padding: 0 5rem 0 5rem;
    font-size: .8rem;
    margin: 0;
    text-align: center;
 }

 .pad1 {
    padding: 0 5rem 0 5rem;
    font-size: .8rem;
    margin: 0;
    text-align: center;
 }

 .pad2 {
    padding: 0 2rem;
    font-size: .6rem;
 }

 .pad4 {
    padding: 0;
    text-align: center;
 }

 .pad5 {
    padding: 0;
    text-align: center;
 }

 .container-flexbox {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     align-items: center;
 }

 .texto-p {
     font-size: .4rem;
 }

 .capa {
     margin-top: 1rem;
     max-width: 35%;
 }

 .center {
     text-align: center;
 }

 .imagem-carrossel {
     max-width: 70%;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .carrossel-texto {
     font-weight: 500;
     color: #002F52;
     margin-top: .5rem;

 }


 @media (min-width: 768px) {
     .titulo {
         font-size: 3rem;
     }

     .container-flexbox {
         flex-direction: row;
         align-items: center;
     }

     .pad0 {
        font-size: 1.2rem;
     }
    
     .pad1 {
        font-size: 1.2rem;
     }
    
     .pad2 {
        font-size: 1rem;
     }

     .pad4 {
        padding: 0 0 0 5rem;
     }
    
     .pad5 {
        padding: 0 5rem 0 0;
     }

     .texto-p {
         font-size: 1.5rem;
     }

     .imagem-carrossel {
         max-width: 50%;
     }
 }