.banner {
    background: var(--azul-degradee);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin-top: 1em;
}

a.banner__texto {
    color: var(--branco);
}

@media screen and (min-width: 900px) {

    .banner_titulo {
        font-size: 36px;
    }

    .banner {
        padding: 3em 0;
    }

}